.Prompt {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  outline: none;
  outline-offset: 0;
  outline-style: nnone;
  outline-width: 0;
}

.Prompt .ExecButton {
  z-index: 1000;
  position: absolute;
  bottom: 5px;
  right: 2px;
  margin: 0;
  padding: 5px 8px;
  border: 2px solid #777;
  border-radius: 0 0 20px 0;
  color: #999;
  font-weight: 900;
  background-color: #000;
}

.PromptEditor {
  font-size: 14px;
  min-height: 3rem;
}

.Prompt .ExecButton:focus {
  background-color: #777;
  color: #000;
  outline: none;
}
