.OutputTableContainer {
  overflow: auto;
  max-width: 100%;
}

table.OutputTable {
  border-collapse: collapse;
  border: 1px #555 solid;
  cursor: crosshair;
}

table.OutputTable tr:hover,
table.OutputTable tr:hover td {
  background-color: #272727;
}

table.OutputTable th,
table.OutputTable td {
  border: 1px #555 solid;
  margin: 0;
  padding: 0 0.6ex;
  white-space: pre;
}

table.OutputTable th {
  color: #fff;
}

table.OutputTable td {
  border-bottom-style: none;
}

table.OutputTable td.join-up {
  border-top: 1px #272727 solid; /* visualy weaker line */
}

