.App-header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 32px;
  z-index: 100;
  background-color: #111;
  color: #fff;
}

.App-logo {
  float: left;
  margin: 2px 12px 0 4px;
  height: 2rem;
  width: 2rem;
}

.App-title {
  font-size: 1.8rem;
  display: inline;
}
