/*
I: white  PQTRANS_IDLE — Server is awaiting new query in autocommit mode
W: blue   WORK (artificial) — Server is processing query
T: green  PQTRANS_INTRANS — Server is awaiting new query in transaction block
E: red    PQTRANS_INERROR — Server is in aborted transaction due to an error
?: grey   PQTRANS_UNKNOWN — Unknown server condition, like an error
*/

.Logo {
  fill: #336791;
  stroke: #ffffff;
  stroke-width: 2;
}

.Logo .Logo-slony-eyes {
  fill: #ffffff;
}

.Logo.Logo-Idle .Logo-arrow {
  fill: #ffffff;
  stroke: #777;
  stroke-width: 7;
}

.Logo.Logo-Work .Logo-arrow {
  fill: #0000ff;
  stroke: #ffffff;
  stroke-width: 3;
}

.Logo.Logo-Transaction .Logo-arrow {
  fill: #00bb00;
  stroke: #77ff77;
  stroke-width: 5;
}

.Logo.Logo-Error .Logo-arrow {
  fill: #ff2222;
  stroke: #000000;
  stroke-width: 7;
}

.Logo.Logo-Unknown .Logo-arrow {
  fill:rgba(160, 160, 160, 0);
  stroke: rgba(160, 160, 160, 0);
  stroke-width: 0;
}
